<div class="cartBox">
  <h1 class="text-danger">Shopping Cart</h1>
  <div class="headCart">
    <p class="lead">You have <label class="text-danger">{{cartProducts.length}}</label> item in your cart</p>
    <button class="text-danger card-header" (click)="clearCart()">Clear Shopping Cart</button>
  </div>
  <table class=" table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Price</th>
        <th style="width:25%">Quantity</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartProducts; let index =index">
        <td><img [src]="item.addedProduct.image " alt></td>
        <td>{{item.addedProduct.title}}</td>
        <td>{{item.addedProduct.price}} L.E</td>
        <td>
          <div class="quantity">
            <button class="btn btn-dark" (click)="addAmount(index)">+</button>
            <input class="form-control" (change)="changeAmount(index)" type="number" [(ngModel)]="item.quantity"
              value="{{item.quantity}}" min="1">
            <button class="btn btn-dark" (click)="minsAmount(index)">-</button>
          </div>
        </td>
        <td>{{item.addedProduct.price * item.quantity }} L.E</td>
        <td><button class="btn btn-danger" (click)="deleteProduct(index)"> Delete</button></td>
        <td>
    </tbody>
    <tfoot>
      <th></th>
      <th></th>
      <th colspan="2" class="text-end">Total :{{totalPrice}} </th>
      <th colspan="2" class="text-end"><button class="btn btn-success" (click)="sendDataToApi()">Order Now</button></th>
    </tfoot>
  </table>
</div>
<div class="alert alert-success" role="alert" *ngIf="success"><strong>well done!</strong> Your Order is Successfully
  Send
</div>
